:root {
    background-color: white;
}

/* Header flex box */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 1%;
}

/* Highscores Flex Positioning */
.HSbtn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px;
}

.HSbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px;
}

.stage2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10%;
}

/* Game stage flex box */
.stage {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10%;
}

/* #stage {
    font-size: 48px;
    font-weight: bold;
} */

/* Header Styling */

h2 {
    font-size: 20px;
}

h2 a {
    text-decoration: none;
    color: purple;
}

/* Game stage Styling */
p {
    max-width: 50%;
    margin: 20px 0px;

    font-size: 18px;
}

.button {
    display: inline-block;
    padding: 5px;

    color: white;

    background-color: purple;
    border-radius: 7px;
}

label {
    margin-right: 5px;
}